
.isExpended
{
	position: absolute !important;
    top: 110px !important;
    left: 50% !important;
    width: 706px !important;
    height: 335px !important;
    background-color: #fff !important;
    z-index: 100 !important;
    padding: 15px 14px 9px 15px !important;
    border-radius: 8px !important;
    box-shadow: 0 0 0 1px #e3e5e8, 0 4px 8px 0 rgba(0, 0, 0, .3) !important;
    box-sizing: border-box !important;
    transform: translate(-50%) !important;
}

